@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

* {
    border: 0;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: #F8F9FA;
}

:root {
    --color-red-500-primary: #840100;
    --color-black-800: #1B1B1B;
    --color-gray-200: #FCFCFC;
    --color-gray-300: #CCCCCC;
    --color-gray-400: #898989;
    --color-gray-500: #4F4F4F;
}

.app__container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}

.app__container .system__container {
    display: grid;
    grid-template-columns: 275px auto;
    min-height: 88vh;
    /* height: 100%; */
}

.btn-primary {
    background-color: #840100 !important;
}

.page__container {
    display: flex;
    padding: 2rem;
}

.consultation__page {
    border: solid red 1px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.cotizacionPage {
    max-width: 950px;
}

.text-danger {
    color: #840100 !important;
}

.loading__container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    justify-content: center;
    align-items: center;
}

#orderCancelled {
    position: relative;
    overflow: hidden;
}

#orderCancelled::after {
    content: 'CANCELADA';
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    font-size: 175px;
    font-weight: 800;
    transform: rotate(-45deg);
    color: #840100;
    opacity: .75;
    z-index: 2;
}